body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

.night-mode {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.night-mode .movie {
    background-color: #333;
    border: 1px solid #555;
    color: #e0e0e0;
}

h1 {
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    transition: all 0.5s;
}

.movie {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, box-shadow 0.5s;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie h3 {
    margin: 10px 0 5px;
    font-size: 1.1em;
}

.movie p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #777;
}

/* Button Styles */
.button-container {
    margin: 20px;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:not(:checked) + .slider {
    background-color: #ccc;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.timeline-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timeline-button:hover {
    background-color: #0056b3;
}

/* Timeline Mode */
.timeline {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
}